<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@user.errors.count, "error") %> <!-- pluralize(@user.errors.count, "error") devuelve 0 errors, 1 error, 2 errors (modifica el string segun si tiene que ser en plural o singunlar-->
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
